RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.contabilidadjm\.cl$
RewriteRule ^(.*)$ http://www.contabilidadjm.cl

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-font-woff .woff