<article class="service">
			<article id="contable">
				<h2>Servicios Contables</h2>
				<p>
					Contabilidad a todo tipo de empresas, de manera periodica y mensual con todos los requisitos expresado por el servicio de impuestos internos.
				</p>

				<ul>
					<li>Definir giro del negocio</li>
					<li>Estrategias tributarias</li>
					<li>Iniciación de actividades</li>
					<li>Apertura de contabilidad</li>
					<li>Contabilidad Mensual</li>
					<li>Contabilidad Parcial</li>
					<li>Control de libros</li>
					<li>Control de Clientes</li>
					<li>Control de Proveedores</li>
					<li>Calendarización de pagos</li>
				</ul>
			</article>

		</article>