<article class="service">
			<article id="contable">
				<h2>Asesorias Tributarias</h2>
				<p>
					Servicios Tributarios para todo tipo de empresas, con el fin de satisfacer las necesidades legales de la organización.
				</p>

				<ul>
					<li>Definir razón social</li>
					<li>EIRL</li>
					<li>Persona Natural</li>
					<li>Tributación con renta Efectiva</li>
					<li>Representación ante el SII</li>
					<li>Constitución de Sociedades</li>
					<li>Franquicias Tributarias</li>
					<li>FUT</li>
				</ul>
			</article>

		</article>