
@font-face {
	font-family: 'Abel';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('fonts/abel-regular-webfont.ttf') format('truetype'),
         url('fonts/abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'Oswald';
    src: url('fonts/oswald-light-webfont.eot');
    src: url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('fonts/oswald-light-webfont.ttf') format('truetype'),
         url('fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

a
	text-decoration none

body
	font-family 'Oswald'
	font-size 16px

footer
	background url('images/img01.jpg')
	background-repeat repeat
	bottom 0
	display block
	height auto
	margin-bottom -20px
	width 100%

	a
		color #838383
		font-size 1.3em

	p
		color #6A6A6A
		font-family 'Abel'
		font-size 1.1em
		padding 1.5em
		text-align center

	section
		background url('images/img07.png') repeat
		border-bottom 1px solid #303030
		padding-bottom 0em
		width 100%

		div
			display inline-block
			vertical-align top

			h2
				color #6a6a6a
				margin 0
				padding 1em 0em

			ul
				display inline-block
				list-style none
				margin 0
				position relative

				li
					border-top 1px solid #a0a09f
					padding 0.94em 0em

					a
						background url('images/img10.png') no-repeat left top
						background-position left center
						color #A0A09F
						display block
						font-size 1em
						padding 0em 0em 0em 1.87em
						text-decoration none

					a:hover
						color #838383

				li.first
					border-top 0

		div.extern
			background url('images/img07.png') repeat
			display inline-block
			margin-left -6%

			h2
				color #6a6a6a

			p
				margin 0

		div.works
			display inline-block
			vertical-align top
			margin-bottom 0
			margin-left 3em
			margin-right 3em
			margin-top 0em
			width 65%

			h2
				color #6a6a6a
				text-align center

h1,h2
	font-family 'Oswald'
	font-weight 300

header
	background #f3f3f3
	height 5.2em
	width 100%

	div
		display inline-block
		float right
		vertical-align top

nav
	font-family 'Abel'

	ul
		list-style none

		li
			display inline-block
			list-style none
			vertical-align top

			a
				color #2C2C18
				display block
				line-height 5.2em
				padding 0 1.5em

			a:hover
				background-color #2C2C18
				box-shadow inset 0px -15px 10px 0px rgba(0, 0, 0, 0.25)
				color #ffffff
				height 5.2em
				display block
				padding 0 1.5em

section
	margin auto 5%
	padding-bottom 5em
	width 90%

	section
		margin auto 5%
		padding-bottom 0em
		width 90%

		article
			display inline-block
			margin 1em
			vertical-align bottom
			width 20%

			figure
				display block
				width 100%

			img
				width 100%

			p 
				color #7D7D7D
				font-family Arial
				font-style italic
				text-align justify

ul
	margin 0
	padding 0

.buttonContact
	margin 1em 0

.current a
	background-color #2C2C18
	box-shadow inset 0px -15px 10px 0px rgba(0, 0, 0, 0.25)
	color #ffffff
	height 5.2em
	display block
	padding 0 1.5em 

.list-service
	display inline-block
	list-style none
	margin 0
	position relative

	li
		border-top 1px solid #E6E6E6
		padding 0.94em 0em

		a
			background url('images/img10.png') no-repeat left top
			background-position left center
			color #525252
			display block
			font-size 1em
			padding 0em 0em 0em 1.87em
			text-decoration none

		a:hover
			color #7D7D7D

	li.first
		border-top 0

.logo
	margin 1em

.more
	-moz-box-shadow inset 0px 1px 0px 0px #ffffff
	-webkit-box-shadow inset 0px 1px 0px 0px #ffffff
	box-shadow inset 0px 1px 0px 0px #ffffff
	background -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #91c3e4), color-stop(1, #2b7aae))
	background -moz-linear-gradient(center top, #91c3e4 5%, #2b7aae 100%)
	background-color #91c3e4
	-moz-border-radius 6px
	-webkit-border-radius 6px
	border-radius 6px
	border 1px solid #ffffff
	display inline-block
	color #ffffff
	float right
	font-size 1em
	font-weight bold
	padding 6px 0px
	text-align center
	text-decoration none
	text-shadow 1px 1px 0px #6e6e6e
	width 100%

.more:hover
	background -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2b7aae), color-stop(1, #91c3e4))
	background -moz-linear-gradient(center top, #2b7aae 5%, #91c3e4 100%)
	background-color #2b7aae

.more:active
	position relative
	top 1px

.service
	display inline-block
	padding-left 2em
	vertical-align top
	width 70%

	article ul
		display block
		list-style none

		li
			-webkit-box-shadow inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)
			-moz-box-shadow inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)
			background-color #da4f49 
			background-image 0 to(#bd362f)
			border 1px solid #bbb
			border-radius 5px 
			box-shadow inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)
			color #fff
			cursor pointer 
			float left
			text-shadow 0 -1px 0 rgba(0,0,0,0.25)
			border-color rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
			margin .5em
			padding .5em

.swiper-container
 	width 100%
  
.swiper-slide 
 	color #fff
	font-size 25px
	line-height 200px
	text-align center

.swiper-scrollbar 
	background red
	bottom 10px
	box-shadow 1px 1px 1px rgba(0,0,0,0.8) inset
	height 10px
	left 3%
	position absolute
	width 94%

.swiper-scrollbar-drag
	background yellow
	box-shadow 0px 1px 1px #000

.title
	color #272727

#contable 
	display inline-block
	vertical-align top

#contactForm
	display inline-block
	vertical-align top
	width 50%

	input
		display block
		padding 0.5em
		width 97%

	label
		display block
		padding 0.5em
		width 97%

	textarea
		display block
		padding 0.5em
		width 97%

	ul
		list-style none
		margin 0.5em 0

		li
			color #cc0814

	span
		color #cc0814
		margin 0.5em 0

#divContentMap
	display inline-block
	margin 0.5em 2em
	padding 0.5em
	vertical-align top
	width 40%

	div
		display block
		height 600px
		margin 0
		padding 0

#logo
	display inline-block
	float none
	padding 1em
	vertical-align top
	
#sidebar
	-webkit-box-shadow rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px
	background-color rgb(204, 0, 0)
	border-bottom-color rgb(255, 255, 255)
	border-bottom-left-radius 0px
	border-bottom-right-radius 4px
	border-bottom-width 1px
	border-right-color rgb(255, 255, 255) 
	border-right-width 1px
	border-style solid solid solid none
	border-top-color rgb(255, 255, 255)
	border-top-left-radius 0px
	border-top-right-radius 4px
	border-top-width 1px 
	box-shadow rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px
	float left
	font-family Arial, sans-serif
	font-style normal 
	font-size 14px
	font-variant normal 
	font-weight bold  
	line-height 1em
	margin-left 0px
	margin-top 6em
	padding 1em 0.2em
	position fixed
	top 0px
	width 25px
	z-index 10000 		

#sidebar:hover
	width 30px
	padding-left 0.5em



		