<footer id="footer">
		<section>

			<div class="extern">
				<p>UF: 22.985,35</p>
				<p>UTM: 40.326,00</p>
				<p>IPSA: 3.717,80</p>
				<p>IPC: 0,60</p>
			</div>

			<div class="works">
				
			</div>

			<div>
				<h2>Sistemas de Interés</h2>
				<ul>
					<li class="first">
						<a href="#">SII</a>
					</li>
					<li>
						<a href="#">Dirección del trabajo</a>
					</li>
					<li>
						<a href="#">Tesoreria General</a>
					</li>
				</ul>	
			</div>
			
		</section>

		<p>&copy; Contabilidades JM | Diseñado: <a href="http://www.themadrid.cl/" title="Madrid S.A.">Madrid S.A</a></p>
	</footer>
	
</body>
</html>