<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/steelshet.css" />
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="/static/js/stickymojo/stickyMojo.js" type="text/javascript"></script>
	<script>
		$(document).ready(function(){
		    $('#sidebar').stickyMojo({footerID: '#footer', contentID: '#main'});
		  });
	</script>
</head>
<body>
	<header id="header" style="height: 5.2em; background: #f3f3f3;width:100%;">
		<div style="display:inline-block;vertical-align:top;padding: 1em;">
			<img src="/static/img/logo.png" width="250" title="contabilidades" alt="logo" />	
		</div>
		<div style="display:inline-block;vertical-align:top;float:right;">
			<nav style="overflow:hidden;">
				<ul style="list-style:none;">
					<li class="current" style="list-style:none;display: inline-block;vertical-align: top;">
						<a href="/" title="Inicio">INICIO</a>
					</li>
					<li style="list-style:none;display: inline-block;vertical-align: top;">
						<a href="/nosotros" title="nosotros">NOSOTROS</a>
					</li>
					<li style="list-style:none;display: inline-block;vertical-align: top;">
						<a href="/servicios" title="servicios">SERVICIOS</a>
					</li>
					<li style="list-style:none;display: inline-block;vertical-align: top;">
						<a href="/contacto" title="contacto">CONTACTO</a>
					</li>
				</ul>
			</nav>
		</div>

	</header>

	<div id="sidebar">
		<a href="#">
			<img src="http://widget.uservoice.com/dcache/widget/feedback-tab.png?t=contacto&c=ffffff&r=90" alt="" />
		</a>
	</div>
	<section id="section">
