
	

		<h1>
			Servicios Contables y tributarios
		</h1>
		
		<!-- Contabilidad -->
		<section>
			<article>
				<h2 class="title">Contabilidades</h2>
				<p>Contabilidad a todo tipo de empresas, de manera periodica y mensual con todos los requisitos expresado por el servicio de impuestos internos.</p>
				<figure>
					<img src="/static/css/images/FundamentosdeContabilidad.jpg" />
				</figure>
				<a href="/servicios/contables" class="more">Leer Más...</a>
			</article>	

			<article>
				<h2 class="title">Balances</h2>
				<p>Generar el balance adecuado para su empresa y declare los bienes de las mismas.</p>
				<figure>
					<img src="/static/css/images/balances.jpg" />
				</figure>
				<a href="/servicios/contables" class="more">Leer Más...</a>
			</article>	

			<article>
				<h2 class="title">Impuestos</h2>
				<p>Pago de diferentes tipos de impuestos, ya sea de primera o segunda categoría, a la renta, entre otros.</p>
				<figure>
					<img src="/static/css/images/impuestos.jpeg" />
				</figure>
				<a href="/servicios/contables" class="more">Leer Más...</a>
			</article>	

			<article>
				<h2 class="title">Pagos de IVA</h2>
				<p>Pago de IVA correspondiente a sus servicios o descontar el valor pagado con la factura.</p>
				<figure>
					<img src="/static/css/images/iva.jpeg" />
				</figure>
				<a href="/servicios/contables" class="more">Leer Más...</a>
			</article>	
		</section>

		<!-- End contabilidad -->

		<!-- Tributario -->

		<section>
			<article>
				<h2 class="title">Declaración Renta</h2>
				<p>Declaración de renta en mes de abril cada año, según la actividad económica de su empresa corresponidente al periodo anterior.</p>
				<figure>
					<img src="/static/css/images/declaracionrenta.jpeg" />
				</figure>
				<a href="/servicios/tributarios" class="more">Leer Más...</a>
			</article>	

			<article>
				<h2 class="title">Declaración Jurada</h2>
				<p>Declaración ante el SII toda la información de tributaria propia y de terceros.</p>
				<figure>
					<img src="/static/css/images/declaracionjurada.jpeg" />
				</figure>
				<a href="/servicios/tributarios" class="more">Leer Más...</a>
			</article>	

			<article>
				<h2 class="title">Importaciones y Exportaciones</h2>
				<p>Lleve sus productos al extranjero o importe bienes para su empresa.</p>
				<figure>
					<img src="/static/css/images/importacionexportacion.jpeg" />
				</figure>
				<a href="/servicios/financieros" class="more">Leer Más...</a>
			</article>	

			<article>
				<h2 class="title">Creación de EIRL</h2>
				<p>Formación de una empresa individual con responsabilidad limitada y realizar actividades de carácter comercial sin afectar su patrimonio .</p>
				<figure>
					<img src="/static/css/images/eirl.jpg" />
				</figure>
				<a href="/servicios/tributarios" class="more">Leer Más...</a>
			</article>	
		</section>

		<!-- End tributario -->
		
	</section>

	