
		<h1>Nosotros</h1>
		<article>
			<p>
				Contabilidades JM. Una empresa que ofrece todo tipo de servicios contables y tributarios, con una basta experiencia en el mercado, trabajando más de 20 años en el rubro en diferentes aspectos como importaciones y exportaciones, asesorías tributarias, remuneraciones, contratos entre los distintos servicios ofrecidos por la empresa. 
			</p>

			<p>
				Asesorando y llevando la contabilidad a todo tipo de empresas, que van desde personas naturales, pasando por empresas individuales de responsabilidad limitada, pymes y grandes empresas. Llevando a cabo diferentes labores contables, de manera ordenada y transparente. 
			</p>

			<h2>Misión</h2>
			<p>
				Ser una empresa contable que brinda transparencia, seguridad y ordenar las finanzas de una empresa, mediante los servicios de calidad ofrecidos, cubriendo las necesidades que poseen las mismas, con fortalecimiento y desarrollo de su organización y así llegar a un crecimiento económico exponencial.
			</p>

			<h2>Visión</h2>
			<p>
				Ser empresa líder en el rubro financiero, siendo el soporte principal de diferentes entidades a nivel nacional, con una alta calidad de profesionalismo con el fin de contribuir en el desarrollo y fortalecimiento económico de nuestros clientes.
			</p>

		</article>
	</section>